<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ArrozconMango</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <header class="header" th:fragment="header"> 
            <nav class="nav">
                <a href="index.html" class="nav-link logo" style="color:red">ArrozconMango</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" href="/">Inicio</a></li>
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" th:href="@{/listar}">Listar</a></li>
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" href="insertar.html">Insertar</a></li>
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" href="contacto.html">Contáctenos</a></li>
                </ul>                
            </nav>
        </header>    
       
        <footer th:fragment="footer">
            &COPY; Derechos reservados 2022
        </footer>
    </body>
</html>
