<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>COMIDA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <br>
            <h1 style="color:blue">Arroz con Mango</h1>
            <br>
            <ul>
                <li><a href="listar.html">Listar</a></li>
                <li><a href="contactenos.html">Contactenos</a></li>
            </ul>

            <br>
        </header>
        <footer th:fragment="footer">
            &COPY; Derechos reservados 2022
        </footer>
    </body>
</html>
