<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ArrozconMango</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <header class="header" th:fragment="header"> 
            <nav class="nav">
                <a href="/" class="nav-link logo">ArrozconMango</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" href="/">Inicio</a></li>
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" th:href="@{/listar}">Lista de Recetas</a></li>
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" th:href="@{/insertar}">Insertar Receta</a></li>
                    <li class="nav-menu-item"><a  class="nav-menu-link nav-link" th:href="@{/contactenos}">Contáctenos</a></li>
                </ul>                
            </nav>
        </header>    
        <footer th:fragment="footer">
            &COPY; Derechos reservados 2022
        </footer>
    </body>
</html>
