<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org>
    <head>
        <title>Lista recetas</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!--<header th:replace="layout/plantilla :: header"></header>-->
        <h1>Lista de recetas</h1>
        <br>
        <a href="index.html">Regresar</a>
        <br>
        <br>
        <form th:action="@{/guardarCliente} 
              "method="POST"
              th:object="${cliente}">
            <input type="hidden" name="idcliente" th:field="*{id_receta}"/>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" th:field="*{nombre_receta}"/>
            <br>
            <br>
            <label for="duracion">Duracion </label>
            <input type="text" name="duracion" th:field="*{duracion_receta}"/>
            <br>
            <br>
            <label for="dificultad">Dificultad </label>
            <input type="email" name="dificultad" th:field="*{dificultad_receta}"/>
            <br>
            <br>
            <label for="ingredientes">Ingredientes </label>
            <input type="tel" name="ingredientes" th:field="*{ingredientes_receta}"/>
            <br>
            <br>
            <label for="preparacion">Preparacion </label>
            <input type="tel" name="preparacion" th:field="*{preparacion_receta}"/>
            <br>
            <br>
            <label for="calificacion">Calificacion </label>
            <input type="tel" name="calificacion" th:field="*{calificacion_receta}"/>
            <br>
            <br>
        </form>
    </body>
</html>
