<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Contáctenos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h1>Contacto</h1>
        <h3>¡Estamos a sus órdenes, para nosotros será un placer servirle!</h3>
            <div class="div_form">
                <div class="contacto_form">
                    <h2>Contáctenos</h2>
                    <form th:action="@{/guardarContacto}" 
                          method="post" 
                          th:object="${contacto}" class="form">
                        <label for="nombre">Nombre: </label>
                        <input type="text" name="nombre_contacto"/>
                        <br><br>
                        <label for="apellidos">Apellidos: </label>
                        <input type="text" name="apellidos_contacto"/>
                        <br><br>
                        <label for="correo">Correo: </label>
                        <input type="email" name="correo_contacto"/>
                        <br><br>
                        <label for="telefono">Telefono: </label>
                        <input type="tel" name="telefono_contacto"/>
                        <br><br>
                        <input type="submit" name="guardar" value="Guardar Registro" class="cta_form"/>
                    </form>
                </div>
            </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1965.332623683807!2d-83.9336858921764!3d9.878426233779617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b28b277ea38625b!2zOcKwNTInNDIuMyJOIDgzwrA1NSc1Ny45Ilc!5e0!3m2!1ses!2scr!4v1646702902415!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </body>
</html>
