<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista recetas</title>
        <meta charset="UTF-8">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h1>Lista de recetas</h1>
        <br>
        <div th:if="${recetas != null and !recetas.empty}">
            <table border="1" class="center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Duracion</th>
                        <th>Dificultad</th>
                        <th>Ingredientes</th>
                        <th>Preparacion</th>
                        <th>Calificacion</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="receta : ${recetas}">
                        <td th:text="${receta.id_receta}"></td>
                        <td th:text="${receta.nombre_receta}"></td>
                        <td th:text="${receta.duracion_receta}"></td>
                        <td th:text="${receta.dificultad_receta}"></td>
                        <td th:text="${receta.ingredientes_receta}"></td>
                        <td th:text="${receta.preparacion_receta}"></td>
                        <td th:text="${receta.calificacion_receta}"></td>
                        <td><a th:href="@{/modificarReceta/} + ${receta.id_receta}">Modificar</a></td>
                        <td><a th:href="@{/eliminarReceta/} + ${receta.id_receta}">Eliminar</a></td>
                    </tr>
                    <tr>
                        <td style="text-align: center"><a th:href="@{/insertar}">Agregar Receta</a></td>
                    </tr>
                </tbody>
            </table>
            <br>

        </div>
        <div th:if="${recetas == null or recetas.empty}">
            No hay recetas que mostrar
        </div>
    </body>
</html>
